<!DOCTYPE html>
<html>
    <head>
        <title>EducAI</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/index.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap">
        <link rel="shortcut icon" href="/static/logo.svg">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo" style="padding-bottom: 0px;">
                    <img src="/static/logo.svg" alt="logo" width="60px">
                    <h2>EducAI</h2>
                </div>
                <nav>
                    <a href="/">Inicio</a>
                    <a href="content.html">Conta</a>
                    <a href="content.html">Sobre</a>
                    <a href="/login">Sair</a>
                </nav>
            </div>
        </header>
        <div class="discipline-container">
            <h2>Disciplinas</h2>
            <div class="cards">   
                <article class="card">
                    <a href="/cotent">
                        <img src="/static/mat.png" alt="Matemática">
                        <h4>Matemática</h4>
                    </a>
                </article>
                <article class="card">
                    <a href="content">
                        <img src="/static/port.png" alt="Português">
                        <h4>Português</h4>
                    </a>
                </article>
                <article class="card">
                    <a href="content">
                        <img src="/static/hist.png" alt="História">
                        <h4>História</h4>
                    </a>
                </article>
                <article class="card">
                    <a href="content">
                        <img src="/static/geo.png" alt="Geografia">
                        <h4>Geografia</h4>
                    </a>
                </article>
            </div>
            <div>
                <a href="quiz">        
                    <article class="tcc">
                        <h3>Clique aqui para acessar teste de TCC</h3>
                    </article>
                </a>
            </div>
        </div>
    </body>
</html>